In [2]:
# 넘파이, 판다스 패키지 import

import pandas as pd
import numpy as np

#### 시리즈 연습 문제

In [5]:
# 연습문제 1
# 리스트를 사용하여 시리즈 s1 생성
# value : 10, 20, 30
# 문자열 인덱스 명시 : a, b, c

s1 = pd.Series([10,20,30], ['a','b','c'])
s1

a    10
b    20
c    30
dtype: int64

In [8]:
# 연습문제 2
# 딕셔너리를 사용하여 시리즈 s2 생성
# '국어':95,'영어':80,'수학':75, '과학':100

s2 = {'국어':95, '영어':80, '수학':75, '과학':100}
s2 = pd.Series(s2)
s2

국어     95
영어     80
수학     75
과학    100
dtype: int64

In [11]:
# 연습문제 3 
# s2에 성적 이라는 이름 설정

s2.name = '성적'
s2

국어     95
영어     80
수학     75
과학    100
Name: 성적, dtype: int64

In [15]:
# 연습문제 4
# 영어, 수학, 과학 점수만 추출

s2[1:4]

영어     80
수학     75
과학    100
Name: 성적, dtype: int64

In [22]:
# 연습문제 5
# 국어, 수학 점수만 추출

s2[0]
s2[2]

75

In [27]:
# 연습문제 6
# 점수가 90 이상인 과목만 추출

s2 [s2 >= 90]

국어     95
과학    100
Name: 성적, dtype: int64

In [31]:
# 연습문제 7
# 과학 점수를 98로 변경

s2['과학'] = 98
s2

국어    95
영어    80
수학    75
과학    98
Name: 성적, dtype: int64

In [32]:
# 연습문제 8
# 과학 데이터 삭제

del s2['과학']
s2

국어    95
영어    80
수학    75
Name: 성적, dtype: int64

In [41]:
# 연습문제 9
# 시리즈 s2에 과학 데이터가 포함되어 있는지 확인
# 포함되어 있으면 '데이터에 과학 정보가 있습니다'
# 포함되어 있지 않으면 '데이터에 과학 정보가 없습니다' 출력


if '과학' in s2:
        print('데이터에 과학 정보가 있습니다.')
else:
    print('데이터에 과학 정보가 없습니다.')

데이터에 과학 정보가 없습니다.

In [40]:
# 연습문제 10
# 과목 수, 총점, 평균 출력

len(s2)
sum(s2)
s2.mean()

83.33333333333333