In [2]:
# 변수 명이 두 번 이상 출력되어도 모두 콘솔에서 보여주도록 함.

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [3]:
import pandas as pd
import numpy as np

# 데이터 프레임 인덱서 : loc, iloc
- Pandas는 numpy행렬과 같이 쉼표를 사용한 (행 인덱스, 열 인덱스) 형식의 2차원 인덱싱을 지원
    - 특별한 인덱서(indexer) 속성을 제공
    
* loc : 라벨값 기반의 2차원 인덱싱
<br>
        (열을 기반으로 쓰는 기본형과 달리 행을 기반으로 쓰기 위해서 사용)
* iloc : 순서를 나타내는 정수 기반의 2차원 인덱싱
<br>        (위치 기반 인덱스를 쓰기 위해서 사용)

## 인덱서를 사용하지 않는 경우

- df[열]: 열 추출
- df[:행]: 행 추출 (슬라이싱을 사용해야함)

In [4]:
# 10-21 범위의 숫자를  value로 갖는 3행 4열의 df 
df = pd.DataFrame(np.arange(10,22).reshape(3,4),
                  index=['a','b','c'],
                  columns = ["A","B","C","D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [6]:
df['A']  # 하나만 적을 때는 열 우선
# df['a']  # 행이름은 하나만 적으면 오류남
df['b':'c'] # 행을 추출할 때는 슬라이싱을 사용해야 함
df[:'b']
df['A']['c']

a    10
b    14
c    18
Name: A, dtype: int32

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

18

In [19]:
# 여러개를 추출 할 때 혹은 하나만 추출을 데이터 프레임 모양으로 하고 싶을 때는 리스트로
df[['A']]
df[['A','B']]

    A
a  10
b  14
c  18

    A   B
a  10  11
b  14  15
c  18  19

## loc 인덱서
- df.loc[행]: 행 우선
- df.loc[행:행]: 슬라이싱을 사용하여 행

In [22]:
# 인덱스 값을 하나만 적으면 행 추출 (행우선)
df.loc['a']
# df.loc['A']  # 열 이름을 작성하면 오류

df.loc['b':'c']  # 여러 행 추출은 슬라이싱으로 (행은 loc 안 쓰고 슬라이싱 해도 결과 똑같음)

df.loc[['a','c']] # 다수의 특정 행 추출 시 리스트 사용

df.loc['b','C']  # 특정 값을 추출할 때 loc는 행을 먼저, 일반 인덱서는 열을 먼저 작성해야 함.
df['C']['b']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

    A   B   C   D
a  10  11  12  13
c  18  19  20  21

16

16

## **boolean selection(논리형)으로 행 선택하기**

In [23]:
df['A']  # df.A 민 써도 같은 결과가 나옴.

a    10
b    14
c    18
Name: A, dtype: int32

In [8]:
df.A >15
df[df.A >15]
df.loc[df.A>15]

a    False
b    False
c     True
Name: A, dtype: bool

    A   B   C   D
c  18  19  20  21

    A   B   C   D
c  18  19  20  21

In [9]:
df.loc[1:2]  # 문자 인덱스에 loc 사용했을 때, 기본적으로 주어지는 숫자 인덱스로 자르려고 하면 오류가 생김.

TypeError: cannot do slice indexing on Index with these indexers [1] of type int

In [26]:
df[1:2]  # loc 없으면 오류 안 남.

    A   B   C   D
b  14  15  16  17

In [27]:
df2 = pd.DataFrame(np.arange(10,26).reshape(4,4),
                  columns=['a','b','c','d'])
df2

    a   b   c   d
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [35]:
df.loc[['a'],'B':'C']

    B   C
a  11  12

In [39]:
# 문제1: A열의 b,c 헹으로 데이터 프레임을 추출
df.loc['b':'c', ['A']]

# 문제2: a,b 행의 B,D 열만 추출
df.loc['a':'b', ['B','D']]

    A
b  14
c  18

    B   D
a  11  13
b  15  17

In [35]:
df
df.iloc[0,1]  # 0행 1열의 값 추출
df.iloc[[0]]
df.iloc[0]


df.loc[:,'A']
df.iloc[:,1]

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

11

    A   B   C   D
a  10  11  12  13

A    10
B    11
C    12
D    13
Name: a, dtype: int32

a    10
b    14
c    18
Name: A, dtype: int32

a    11
b    15
c    19
Name: B, dtype: int32

In [43]:
df.iloc[0:2, 1:2]  # 행, 열
df.iloc[0:2]  # 하나만 쓰면 행만 잘림

    B
a  11
b  15

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [48]:
# 문제: 2행의 모든 열의 값 추출
df.iloc[[1]]

    A   B   C   D
b  14  15  16  17