### 데이터프레임 인덱싱/슬라이싱 연습문제

In [1]:
# 필요 패키지 임포트
import pandas as pd
import numpy as np

In [2]:
#25,50 범위의 숫자를 생성 후 5행 5열로 배치
df=pd.DataFrame(np.arange(25,50).reshape(5,5),
               index = ['a','b','c','d','e'],
               columns = ["A","B","C","D","E"])
df

    A   B   C   D   E
a  25  26  27  28  29
b  30  31  32  33  34
c  35  36  37  38  39
d  40  41  42  43  44
e  45  46  47  48  49

In [3]:
# 위 df에 대하여 아래 내용 인덱싱 (인덱서 우선 사용)

In [5]:
#열 라벨 인덱싱, A열 추출 - 시리즈

df['A']

a    25
b    30
c    35
d    40
e    45
Name: A, dtype: int32

In [47]:
# 0행부터 2행까지 추출 - 슬라이싱 사용(행 인덱싱)

df[0:3]

    A   B   C   D   E
a  25  26  27  28  29
b  30  31  32  33  34
c  35  36  37  38  39

In [10]:
# 열행 인덱싱 - 원소값 a행 A열 - 열우선 인덱싱

df['A']['a']

25

In [48]:
# 1행의 3,4열(D,E열) : 인덱서 사용

df.loc['a']['D':'E']

df.iloc[[1],3:5]

    D   E
b  33  34

In [36]:
# df로 반환(행,열 모두 슬라이싱처리) : 인덱서 사용
# a~c행, B~D열 출력

df.loc['a':'c','B':'D']

    B   C   D
a  26  27  28
b  31  32  33
c  36  37  38

In [38]:
# 끝에서 두번째 행부터 마지막행까지 - df로 반환

df[-2:]

    A   B   C   D   E
d  40  41  42  43  44
e  45  46  47  48  49

In [39]:
# a 행의  A부터 B열 - 시리즈로 반환 (인덱서 사용)

df.loc['a','A':'B']

A    25
B    26
Name: a, dtype: int32

In [40]:
# a 행의  A부터 B열 df로 반환 (인덱서 사용)

df.loc[['a'],'A':'B']

    A   B
a  25  26

In [42]:
# 행,열 슬라이싱 처리 - df 형태로 나타남 (인덱서 사용)
# d~e행 D~E열 출력

df.loc['d':'e','D':'E']

    D   E
d  43  44
e  48  49

In [43]:
# A열의 a,b행 출력 : 슬라이싱
#시리즈 출력

df.loc['a':'b','A']

a    25
b    30
Name: A, dtype: int32

In [51]:
# A열의 a,b행 출력 : 슬라이싱
#df 출력
df.loc['a':'b',['A']]
df[['A']]['a':'b']

    A
a  25
b  30